@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');
@import 'import/reset.scss';
@import 'import/_color.scss';
/*-- this is for typography --*/
@import 'import/typography.scss';
@import 'import/_comn.scss';
$open : 'Open Sans', sans-serif;
h1,h2,h3,h4,h5,h6{
    font-family: $open;
    color: $titleColor;
}
body{
    font-family: $open;
    color: $bodyColor;
}
.pl0{
    padding-left: 0px !important;
}
.pr0{
    padding-right: 0px !important;
}









/*------------------------
main code start here 
-------------------------*/

/*-- start header area --*/
#main_header{
    padding-top: 7px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999999;
    .main_header_menu{
        ul{
            li{
                display: inline-block;
                position: relative;
                &:hover{
                    >a{
                        color: $mainColor;
                    }
                    ul{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                a{
                    font-weight: 600;
                    font-size: 16px;
                    padding: 20px 10px;
                    display: block;
                    margin-right: 14px;
                }
                ul{
                    position: absolute;
                    top: 100%;
                    text-align: left !important;
                    background-color: $sub;
                    width: 200px;
                    border-radius: 4px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.4s;
                    li{
                        display: block;
                        a{
                            padding: 10px 10px;
                            margin-right: 0px;
                            font-size: 15px;
                            border-radius: 4px;
                            &:hover{
                                background-color: $mainColor;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .active{
                >a{
                    color: $mainColor;
                }
            }
        }
    }
    .main_header_quote{
        a{
            background-color: $sub;
            display: block;
            padding: 13px 0px;
            color: $mainColor;
            font-weight: 600;
            font-size: 15px;
            border-radius: 4px;
            &:hover{
                background: $mainColor;
                color: #fff;
                transform: translateY(-2px);
                box-shadow: 0px 11px 16px rgba(0,0,0,0.1);
            }
        }
    }
}


/*-- start banar_home --*/
#banar_home{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    overflow-x: hidden;
    .banar_slider_for{
        .banar_slider_for_item{
            >h3{
                font-size: 45px;
                font-weight: 600;
                line-height: 60px;
            }
            >p{
                margin-top: 20px;
                font-size: 17px;
                line-height: 30px;
            }
            >a{
                display: inline-block;
                margin-top: 35px;
                background: $sub;
                font-weight: 600;
                padding: 14px 50px;
                color: $mainColor;
                border-radius: 4px;
                &:hover{
                    background: $mainColor;
                    color: #fff;
                    transform: translateY(-2px);
                    box-shadow: 0px 11px 16px rgba(0,0,0,0.1);
                }
            }
            ul{
                margin-top: 40px;
                li{
                    display: inline-block;
                    margin-right: 15px;
                    border-radius: 4px;
                    transition: 0.4s;
                    &:hover{
                        transform: translateY(-3px);
                        box-shadow: 0px 5px 16px rgba(0,0,0,0.1);
                    }
                    a{
                        display: block;
                        padding: 15px 20px;
                        width: 220px;
                        border:  1px solid rgba(11, 34, 56, 0.08);
                        border-radius: 4px;
                        
                        span{
                            display: block;
                            float: left;
                            margin-right: 15px;
                            i{
                                font-size: 28px;
                            }
                            img{height: 20px;}
                        }
                        h4{
                            font-weight: 600;
                            font-size: 13px;

                        }
                        h3{
                            font-weight: 700;
                            font-size: 15px;
                        }
                    }
                }
                .apple{
                    background: $sub;
                    a{
                        border-color: transparent;
                    }
                }
                .google_play{
                    a{
                        span{
                            img{
                                position: relative;
                                top: 7px;
                            }
                        }
                    }
                }
            }
            form{
                margin-top: 35px;
                .banar_slider_for_item_form_box{
                    position: relative;
                    width: 90%;
                    input{
                        width: 100%;
                        padding: 22px 20px;
                        border: 1px solid $sub;
                        font-size: 15px;
                        border-radius: 2px;
                        font-weight: 600;
                        color: $titleColor;
                    }
                    button{
                        background-color: $sub;
                        border: none;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        padding: 13px 20px;
                        font-weight: 600;
                        color: $mainColor;
                        font-size: 15px;
                        border-radius: 3px;
                        transition: 0.4s;
                        outline: none;
                        &:hover{
                            background: $mainColor;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .banar_slider_nav{
        position: absolute;
        bottom: 0;
        right: 0px;
        width: 50%;
        .banar_slider_nav_item{
            background: $sub;
            padding: 40px 30px;
            border-radius: 2px;
            cursor: pointer;
            width: 300px;
            transition: 0.4s;
            h1{
                font-weight: 700;
                color: $mainColor;
                background: #fff;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                font-size: 17px;
            }
            h3{
                font-size: 16px;
                font-weight: 600;
                margin-top: 16px;
            }
            p{
                color: $titleColor;
                font-size: 14px;
                margin-top: 3px;
            }
        }
        .slick-current{
            background-color: $mainColor;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            h3{
                color: #fff;
            }
            p{
                color: #fff;
            }
        }
    }
}

/*-- start home_feater --*/
#home_feater{
    padding: 150px 0px;
    background: #fff;
    .home_feater_title{
        h4{
            font-weight: 600;
            font-size: 15px;
        }
        h3{
            font-weight: 600;
            font-size: 25px;
            margin-top: 5px;
        }
    }
    .home_feater_main{
        margin-top: 50px;
        .home_feater_main_item{
            padding: 20px 20px;
            span{
                display: block;
                float: left;
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 60px;
                border-radius: 50%;
                color: #fff;
                font-size: 23px;
                margin-right: 25px;
            }
            .bg_1{
                background-color: #FE8E69;
                font-size: 27px;
            }
            .bg_2{
                background-color: #9786CF;
            }
            .bg_3{
                background-color: #63CFBB;
            }
            h3{
                font-weight: 600;
                font-size: 20px;
                color: $titleColor;
                line-height: 28px;
                width: 90%;
            }
        }
        .app_feater_home_bottom{
            margin-top: 50px;
            .app_feater_home_bottom_image{
                text-align: center;
                img{
                    width: 70%;
                }
            }
            .app_feater_home_bottom_content{
                h3{
                    font-weight: 600;
                    font-size: 14px;
                }
                h2{
                    font-weight: 600;
                    font-size: 40px;
                    width: 72%;
                    margin-top: 20px;
                }
                p{
                    margin-top: 20px;
                    width: 80%;
                    font-size: 17px;
                }
                a{
                    display: inline-block;
                    margin-top: 35px;
                    background: $sub;
                    font-weight: 600;
                    padding: 14px 50px;
                    color: $mainColor;
                    border-radius: 4px;
                    &:hover{
                        background: $mainColor;
                        color: #fff;
                        transform: translateY(-2px);
                        box-shadow: 0px 11px 16px rgba(0,0,0,0.1);
                    }
                }
            }
        }
    }
}

/*-- start app_screen --*/
#app_screen{
    padding: 100px 0px;
    background: #F7F8F9;
    .app_screen_title{
        h4{
            font-weight: 600;
            font-size: 15px;
        }
        >h3{
            font-weight: 600;
            font-size: 25px;
            margin-top: 15px;
        }
        p{
            margin: 0 auto;
            margin-top: 15px;
            width: 50%;
            font-size: 17px;
            line-height: 27px;
        }
        ul{
            margin-top: 50px;
            li{
                display: inline-block;
                margin-right: 15px;
                border-radius: 4px;
                transition: 0.4s;
                text-align: left !important;
                &:hover{
                    transform: translateY(-3px);
                    box-shadow: 0px 5px 16px rgba(0,0,0,0.1);
                }
                a{
                    display: block;
                    padding: 15px 20px;
                    width: 220px;
                    border:  1px solid rgba(11, 34, 56, 0.08);
                    border-radius: 4px;
                    
                    span{
                        display: block;
                        float: left;
                        margin-right: 15px;
                        i{
                            font-size: 28px;
                        }
                        img{height: 20px;}
                    }
                    h4{
                        font-weight: 600;
                        font-size: 13px;

                    }
                    h3{
                        font-weight: 700;
                        font-size: 15px;
                    }
                }
            }
            .apple{
                background: $sub;
                a{
                    border-color: transparent;
                }
            }
            .google_play{
                background-color: #fff;
                a{
                    span{
                        img{
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }
        }
    }
    .app_screen_main{
        margin-top: 100px;
        position: relative;
        .app_screen_mobile{
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            img{
                width: 289px;
            }
        }
        .app_screen_main_slider{
            .app_screen_main_slider_item{
                padding: 0px 10px;
                img{
                    filter: blur(2px);
                }
            }
            .slick-current.slick-active.slick-center{
                img{
                    filter: blur(0px);
                }
            }
        }
    }
}

/*-- start home_keayfeater --*/
#home_keayfeater{
    padding: 140px 0px 100px 0px;
    background-color: #fff;
    .home_keayfeater_cotent{
        h4{
            font-weight: 600;
            font-size: 16px;
            color: $mainColor;
        }
        >h3{
            margin-top: 20px;
            font-weight: 600;
            font-size: 45px;
            width: 90%;
        }
        >p{
            margin-top: 25px;
            font-size: 17px;
            width: 90%;
            line-height: 27px;
        }
    }
    .home_keayfeater_cotent_bottom{
        margin-top: 40px;
        .home_keayfeater_cotent_bottom_item{
            span{
                height: 70px;
                width: 70px;
                background-color: $sub;
                display: block;
                text-align: center;
                line-height: 70px;
                font-size: 30px;
                color: $titleColor;
                border-radius: 4px;
            }
            .bg_4{
                background-color: #DDE8FA;
            }
            h3{
                font-weight: 600;
                font-size: 20px;
                margin-top: 18px;
            }
            p{
                margin-top: 10px;
                font-size: 15px;
            }
        }
    }
    .home_keayfeater_image{
        position: relative;
        z-index: 1;
        img{
            width: 60%;
        }
        .keay_feater_2{
            position: absolute;
            left: 70px;
            z-index: -1;
            filter: blur(2px);
            top: -31px;
        }
    }
}

/*-- start faq_area --*/
#faq_area{
    padding: 100px 0px;
    background-color: $sub;
    .faq_area_title{
        h4{
            font-weight: 600;
            font-size: 15px;
        }
        h3{
            margin: 0 auto;
            margin-top: 10px;
            font-weight: 600;
            font-size: 40px;
            width: 45%;
        }
    }
    .faq_area_main{
        margin-top: 50px;
        #accordion{
            .card-header:after {
                font-family: "Font Awesome 5 Pro";  
                content: "\f068";
                float: right; 
                color: $mainColor;
            }
            .card-header.collapsed:after {
                content: "\f067"; 
            }
            .faq_item{
                margin-bottom: 10px;
                background: transparent;
                .card-header{
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    a{
                        font-weight: 600;
                        color: $titleColor;
                        font-size: 17px;
                    }
                }
                .card-header[aria-expanded='true']{
                    a{
                        color: $mainColor;
                    }
                }
                .card-body{
                    padding: 0px 20px;
                    font-weight: 600;
                    font-size: 14px;
                    width: 80%;
                    line-height: 25px;
                }
            }
        }
    }
}

/*-- start how_works_area --*/
#how_works_area{
    padding: 100px 0px;
    background: #fff;
    .how_works_area_item{
        .how_works_area_item_image{
            img{
                width: 60%;
                margin: 0 auto;
                display: table;
            }
        }
        .how_works_area_item_content{
            h4{
                font-weight: 600;
                font-size: 15px;
                color: $mainColor;
            }
            h3{
                margin-top: 25px;
                font-weight: 600;
                font-size: 38px;
                width: 85%;
                line-height: 50px;
            }
            p{
                width: 85%;
                margin-top: 25px;
                line-height: 26px;
            }
            a{
                background-color: $sub;
                display: inline-block;
                padding: 15px 70px;
                color: $mainColor;
                font-weight: 600;
                font-size: 15px;
                border-radius: 4px;
                margin-top: 24px;
                &:hover{
                    background: $mainColor;
                    color: #fff;
                    transform: translateY(-2px);
                    box-shadow: 0px 11px 16px rgba(0,0,0,0.1);
                }
            }
        }
        .how_works_area_item_content_2{
            padding-left: 100px;
            h3{

                width: 100%;
            }
            p{
                width: 100%;
            }
        }
    }
    .how_works_area_item_2{
        margin-top: 100px;
    }
}

/*-- start testmonial area --*/
#testmonial{
    padding: 100px 0px;
    background: #fff;
    .testmonial_title{
        h3{
            font-weight: 600;
            font-size: 30px;
        }
    }
    .testmonial_main{
        margin-top: 50px;
        .testmonial_main_slider{
            .testmonial_main_slider_item{
                padding-right: 45px;
                .testmonial_main_slider_item_top{
                    h4{
                        font-weight: 600;
                        font-size: 15px;
                    }
                    ul{
                        margin-top: 4px;
                        li{
                            display: inline-block;
                            font-weight: 600;
                            font-size: 14px;
                            margin-right: 4px;
                            i{
                                color: $mainColor;
                            }
                        }
                    }
                }
                .testmonial_main_slider_item_bottom{
                    margin-top: 30px;
                    background: $sub;
                    padding: 40px;
                    border-radius: 4px;
                    span{
                        background-color: $mainColor;
                        display: block;
                        height: 50px;
                        width: 50px;
                        text-align: center;
                        line-height: 50px;
                        border-radius: 50%;
                        color: #fff;
                    }
                    p{
                        margin-top: 15px;
                        font-weight: 600;
                        font-size: 15px;
                        color: $titleColor;
                    }
                }
            }
        }
        .testmonial_main_slider_button{
            margin-top: 60px;
            a{
                display: inline-block;
                background: $sub;
                border-color: #f9fcff;
                padding: 13px 10px;
                border-radius: 30px;
                font-weight: 600;
                font-size: 13px;
                padding-right: 25px;
                &:hover{
                    background-color: $mainColor;
                    color: $sub;
                    transform: translateY(-2px);
                    box-shadow: 0px 11px 16px rgba(0,0,0,0.1);
                    span{
                        background-color: $sub;
                        color: $mainColor;
                    }
                }
                span{
                    background-color: $mainColor;
                    color: #fff;
                    padding: 10px 20px;
                    font-weight: 600;
                    font-size: 11px;
                    border-radius: 30px;
                    margin-right: 5px;
                    transition: 0.4s;
                }
            }
        }
    }
}


/*-- start blog area --*/
#blog{
    padding: 100px 0px;
    background: #fff;
    .blog_title{
        h4{
            font-weight: 600;
            font-size: 16px;
            color: $mainColor;
        }
        h3{
            margin: 0 auto;
            font-weight: 600;
            margin-top: 15px;
            font-size: 35px;
            width: 50%;
            line-height: 48px;
        }
    }
    .blog_main{
        margin-top: 70px;
        .blog_main_item{
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            border-radius: 5px;
            margin-bottom: 30px;
            img{
                border-radius: 5px 5px 0px 0px;
            }
            .blog_content{
                padding: 30px 20px;
                a{
                    font-weight: 600;
                    font-size: 20px;
                    color: $titleColor;
                    line-height: 27px;
                    &:hover{
                        color: $mainColor;
                        text-decoration: underline;
                    }
                }
                p{
                    margin-top: 15px;
                    font-size: 14px;
                }
            }
        }
        .blog_pagination{
            margin-top: 50px;
            ul{
                li{
                    display: inline-block;
                    a{
                        display: block;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        text-align: center;
                        border-radius: 50%;
                        font-weight: 600;
                        color: $titleColor;
                        &:hover{
                            background-color: $sub;
                            color: $mainColor;
                        }
                    }
                }
                .active{
                    a{
                        background-color: $mainColor;
                        color: #fff;
                    }
                    
                }
                .pagination_prev {
                    a{
                        height: inherit !important;
                        width: inherit !important;
                        padding: 0px 20px;
                        border-radius: 3px;
                        margin-right: 10px;
                        background: #dde8fa73;
                    }
                }
                .pagination_next {
                    a{
                        height: inherit !important;
                        width: inherit !important;
                        padding: 0px 20px;
                        border-radius: 3px;
                        margin-left: 10px;
                        background: #dde8fa73;
                    }
                }
            }
        }
    }
}

/*-- start pricing_table --*/
#pricing_table{
    padding: 100px 0px;
    background-color: #fff;
    .pricing_table_left{
        h4{
            font-weight: 600;
            font-size: 14px;
            color: $mainColor;
        }
        h3{
            margin-top: 15px;
            font-weight: 600;
            font-size: 35px;
        }
        p{
            margin-top: 10px;
        }
        a{
            background-color: $sub;
            display: inline-block;
            padding: 15px 70px;
            color: $mainColor;
            font-weight: 600;
            font-size: 15px;
            border-radius: 4px;
            margin-top: 24px;
            &:hover{
                background: $mainColor;
                color: #fff;
                transform: translateY(-2px);
                box-shadow: 0px 11px 16px rgba(0,0,0,0.1);
            }
        }
    }
    .pricing_table_right{
        padding-left: 70px;
        .pricing_table_item{
            background-color: #fff;
            box-shadow:  0px 50px 100px 0px rgba(60, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004)
            ;
            .pricing_table_item_top{
                background-color: $sub;
                text-align: center;
                padding: 50px 0px;
                span{
                    i{
                        font-size: 40px;
                        
                    }
                    .bg_5{
                        color: #36bca1;
                    }
                    .bg_6{
                        color: #0099e5;
                    }
                }
                h3{
                    font-weight: 700;
                    font-size: 30px;
                    margin-top: 20px;
                    color: $titleColor;
                }
                p{
                    font-size: 13px;
                    font-weight: 600;
                    margin-top: 4px;
                }
            }
            .pricing_table_item_bottom{
                text-align: center;
                padding: 30px 0px;
                ul{
                    li{
                        display: block;
                        font-weight: 600;
                        font-size: 14px;
                        color: $titleColor;
                        margin-bottom: 10px;
                    }
                }
                a{
                    background-color: $sub;
                    display: block;
                    padding: 15px 0px;
                    width: 80%;
                    margin: 0 auto;
                    color: $mainColor;
                    font-weight: 600;
                    font-size: 15px;
                    border-radius: 4px;
                    margin-top: 24px;
                    &:hover{
                        background: $mainColor;
                        color: #fff;
                        transform: translateY(-2px);
                        box-shadow: 0px 11px 16px rgba(0,0,0,0.1);
                    }
                }
                p{
                    margin-top: 20px;
                    font-weight: 600;
                    font-size: 12px;
                    color: $bodyColor;
                }
            }
        }
    }
}

/*-- strat how_works_video --*/
#how_works_video{
    padding: 100px 0px;
    background-color: #fff;
    .how_works_video_title{
        h4{
            font-weight: 600;
            font-size: 15px;
            color: $mainColor;
        }
        h3{
            font-weight: 600;
            font-size: 35px;
            width: 55%;
            margin: 0 auto;
            margin-top: 20px;
        }
    }
    .how_works_video_main{
        margin-top: 40px;
        position: relative;
        .how_works_video_main_bg{
            img{
                filter: blur(3px);
                width: 100%;
                height: 100%;
            }
        }
        .how_works_video_main_btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            a{
                height: 60px;
                width: 60px;
                background-color: $mainColor;
                color: #fff;
                display: inline-block;
                text-align: center;
                line-height: 60px;
                border-radius: 5px;
                font-size: 20px;
                &:hover{
                    background-color: #fff;
                    color: $mainColor;
                    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                }
            }
        }
    }
}

/*-- start footer --*/
#footer{
    padding: 100px 0px;
    background-color: #fff;
    .footer_content{
        .social{
            margin-top: 40px;
            ul{
                li{
                    display: inline-block;
                    a{
                        height: 50px;
                        width: 50px;
                        display: inline-block;
                        background-color: #DDE8FA;
                        color: $titleColor;
                        line-height: 50px;
                        margin: 0px 5px;
                        border-radius: 3px;
                        font-size: 18px;
                        &:hover{
                            background: $mainColor;
                            color: #fff;
                            transform: translateY(-2px);
                            box-shadow: 0px 11px 16px rgba(0,0,0,0.1);
                        }
                    }
                }
            }
        }
        .link{
            margin-top: 34px;
            ul{
                li{
                    display: inline-block;
                    a{
                        font-weight: 600;
                        font-size: 14px;
                        display: inline-block;
                        margin: 0px 7px;
                        &:hover{
                            color: $mainColor;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .copyright{
            margin-top: 10px;
            p{
                font-weight: 600;
                font-size: 15px;
                a{
                    color: $titleColor;
                    &:hover{
                        color: $mainColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/*-- extra pge header style --*/
#main_header.psr{
    position: relative !important;
    padding-top: 0px;
    .main_header_menu{
       nav{
           ul{
               >li{
                   a{
                       padding-top: 30px;
                       padding-bottom: 30px;
                   }
                   ul{
                       box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                       background-color: #fff;
                       li{
                           a{
                               padding-top: 10px;
                               padding-bottom: 10px;
                           }
                       }
                   }
               }
           }
       }
    }
}

/*-- start subpage_banar --*/
#subpage_banar{
    .subpage_banar_container{
        padding: 0px 30px;
        padding-top: 100px;
        background-color: $sub;
        max-height: 500px;
        height: 500px;
        overflow-y: hidden;
        .subpage_banar_content{
            padding-top: 100px;
            text-align: center;
            h3{
                font-weight: 600;
                font-size: 45px;
            }
            ul{
                margin-top: 20px;
                li{
                    display: inline-block;
                    a{
                        font-weight: 600;
                        font-size: 15px;
                        margin-right: 10px;
                    }
                }
                .active{
                    a{
                        color: $mainColor;
                    }
                }
            }
        }
        .subpage_banar_image{
            img{
                width: 60%;
            }
        }
        .subpage_banar_image_2{
            img{
                width: 100%;
            }
        }
        .subpage_banar_image_3{
            padding-right: 34px;
        }
    }
}

/*-- start feater_page_feater1 --*/
#feater_page_feater1{
    padding: 100px 0px;
    background-color: #fff;
    .feater_page_feater1_title{
        h4{
            font-weight: 600;
            font-size: 16px;
            color: $mainColor;
        }
        h3{
            font-weight: 600;
            font-size: 30px;
            width: 50%;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
    .feater_page_feater1_main{
        margin-top: 70px;
        .feater_page_feater1_main_item{
            
            padding: 40px 0px;
            border-radius: 4px;
            span{
                height: 70px;
                width: 70px;
                background: $sub;
                color: $mainColor;
                border-radius: 50%;
                line-height: 70px;
                display: inline-block;
                font-size: 25px;
            }
            .bg_7{
                background-color: #E5F5FC;
                color: #0099e5;
            }
            .bg_8{
                background-color: #E6F8ED;
                color: #36bca1;
            }
            h3{
                font-weight: 600;
                font-size: 22px;
                margin-top: 25px;
            }
            p{
                font-size: 15px;
                width: 75%;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }
    .feater_page_feater1_main_item.active{
        box-shadow: 0 50px 100px 0 rgba(64,1,4,.1), 0 -6px 0 0 rgba(248,99,107,.004);
    }
}

/*-- feater page feater 2 --*/
#home_feater.home_feater_2{
    padding-top: 0px;
    padding-bottom: 0px;
}
/*-- start team_main_area --*/
#team_main_area{
    padding: 100px 0px;
    background-color: #fff;
    .team_main_area_title{
        h4{
            font-weight: 600;
            font-size: 16px;
            color: $mainColor;
        }
        h3{
            font-weight: 600;
            font-size: 30px;
            width: 50%;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
    .team_main_area_main{
        margin-top: 70px;
        .team_main_area_main_item{
            margin-bottom: 50px;
            img{
                width: 130px;
                height: 130px;
                border-radius: 50%;
            }
            h4{
                font-weight: 600;
                font-size: 20px;
                margin-top: 20px;
            }
            ul{
                margin-top: 15px;
                li{
                    display: inline-block;
                    a{
                        height: 30px;
                        width: 30px;
                        display: inline-block;
                        background-color: #DDE8FA;
                        color: #233d63;
                        line-height: 30px;
                        margin: 0px 5px;
                        border-radius: 3px;
                        font-size: 14px;
                        &:hover{
                            background: #ff7855;
                            color: #fff;
                            transform: translateY(-2px);
                            box-shadow: 0px 11px 16px rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }
        }
    }
}

/*-- start contact_page --*/
#contact_page{
    padding: 100px 0px;
    background-color: #fff;
    .contact_page_title{
        h4{
            font-weight: 600;
            font-size: 16px;
            color: $mainColor;
        }
        h3{
            font-weight: 600;
            font-size: 30px;
            width: 50%;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
    .form_main_container{
        box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
        border-radius: 10px;
        margin-top: 70px;
    }
    .contact_page_left{
        // background-image: linear-gradient(to left top, #323272, #292966, #21205a, #18174e, #0f0f43);
        background: $sub;
        padding: 50px 30px;
        border-radius: 5px 0px 0px 5px;
        height: 100%;
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .contact_page_form{
        background: #fff;
        height: 100%;
        padding: 50px 50px;
        border-radius: 0px 5px 5px 0px;
        form{
            position: relative;
            button{
                height: 70px;
                width: 70px;
                background-color: $mainColor;
                color: #fff;
                border: none;
                border-radius: 50%;
                position: absolute;
                right: -20px;
                bottom: 0px;
                box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
                font-size: 20px;
                outline: none;
                transition: 0.4s;
                &:hover{
                    transform: translateY(-4px);
                }
            }
            .ffl-wrapper{
                position: relative;
                display: block;
                padding-top: 1rem;
            }
            .ffl-wrapper.ffl-floated label{
                background-color: #fff;
                top: 10px !important;
                z-index: 99999999999;
                padding: 0px 10px;
            }
            .ffl-wrapper .ffl-label {
                transition-property: all;
                transition-duration: 200ms;
                transition-timing-function: ease;
                transition-delay: 0s;
                position: absolute;
                white-space: nowrap;
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                pointer-events: none;
                position: absolute;
                top: 33px;
                left: 15px;
            }
            .ffl-label {
                color: #909090;
                line-height: 1.2;
            }
            .ffl-floated .ffl-label {
                color: #A7A7A7;
                font-size: 14px;
            }
            input{
                transition: border-bottom 100ms ease;
                display: block;
                width: 100%;
                padding: 0;
                margin-bottom: 15px;
                box-shadow: none;
                appearance: none;
                outline: none;
                background-color: transparent;
                position: relative;
                border: 0.5px solid #a7a7a734;
                padding: 17px 25px;
                border-radius: 3px;
                font-weight: 600;
                font-size: 13px;
            }
            textarea{
                width: 100%;
                height: 200px;
                border: 0.5px solid #a7a7a734;
                resize: none;
                padding: 20px 25px;
                font-weight: 600;
                font-size: 13px;
                border-radius: 3px;
            }
        }
    }
}

/*-- start blog_details --*/
#blog_details{
    padding: 100px 0px;
    background-color: #fff;
    .blog_details_top{
        margin-bottom: 40px;
        h4{
            font-weight: 600;
            font-size: 15px;
            span{
                background: $sub;
                padding: 6px 20px;
                border-radius: 30px;
                font-size: 14px;
                margin-right: 10px;
            }
        }
        h3{
            font-weight: 600;
            font-size: 30px;
            width: 60%;
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    .blog_details_content{
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 30px;
        h3{
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 10px;
        }
        p{
            font-size: 15px;
            line-height: 26px;
            margin-bottom: 10px;
        }
    }
}

/*-- start related_post --*/
#related_post{
    padding: 0px 0px 100px 0px;
    background-color: #fff;
    .related_post_title{
        padding-left: 15px;
        h3{
            font-weight: 600;
            font-size: 30px;
        }
    }
    .related_post_main{
        margin-top: 50px;
        .related_post_main_slider{
            .related_post_main_slider_item{
                padding: 0px 15px;
                .content{
                    padding: 30px 10px;
                    a{
                        font-weight: 600;
                        font-size: 20px;
                        color: #233d63;
                        line-height: 27px;
                        &:hover{
                            color: #ff7855;
                            text-decoration: underline;
                        }
                    }
                    p{
                        margin-top: 15px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}






